@import 'variables';
@import 'normalize/import-now';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  min-width: 320px;
  color: $default-font-color;
}

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}
