<div class="book-form">
    <div class="book-form__content">
        <h2 class="book-form__title">{{:: $ctrl.formTitle }}</h2>

        <form class="book-form__form" id="book-form" name="bookForm" novalidate autocomplete="off" ng-submit="$ctrl.submit(bookForm)">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" ng-model="$ctrl.book.title" required>

            <label for="author">Author:</label>
            <input type="text" id="author" name="author" ng-model="$ctrl.book.author" required>
        </form>

        <div class="book-form__actions">
            <button type="submit" form="book-form">Save</button>
            <button type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </div>
</div>
