<header>
    <h1 class="main-title">{{:: main.title }}</h1>
</header>
<main ng-if="!main.profile.fetching" class="welcome">
    <h2 class="welcome__title">Welcome
        {{ main.profile | profile }}</h2>
    <p class="welcome__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni quas debitis corrupti ipsa quod hic maxime at temporibus quibusdam quo, laudantium ex, quia vitae recusandae dolores. Aspernatur sapiente eos deleniti iusto sit sed, aliquam animi, exercitationem vero. Voluptatem commodi dolorum reiciendis illo libero molestiae, numquam blanditiis tempore, unde pariatur dolores ipsa nobis voluptate quam officiis harum possimus sed quod repellat eaque in consequatur assumenda! Perspiciatis odit amet eum voluptas quibusdam, voluptate fugiat repudiandae. Repudiandae possimus odit beatae aperiam amet cumque ipsa illum, eum perspiciatis, nam ratione molestias consequatur quae. Rem dignissimos eum, accusantium error eos cupiditate maiores fugit vel eius.</p>

    <p class="welcome__confirmation">
        <button ng-click="main.openConfirmation()">Trigger confirmation</button>
        {{ main.confirmationResult }}
    </p>

    <nav class="welcome__navigation">
        <a ui-sref="books">Books</a>
    </nav>
</main>
<main ng-if="main.profile.fetching" class="welcome welcome--loading">Loading profile&hellip;</main>
